.juegos {
    display: flex;
    border: 5px solid rgba(0, 0, 0, 0.479);
   
}


body {
    background-size:cover;
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/assassins-creed-shadows-3315088.jpg?tf=3840x)
}

.imagen {
    background-color: rgba(83, 8, 8, 0.308);
    margin: auto;
}

h2 {
    color: aliceblue;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

footer ul {
    Background-color: rgba(206, 4, 4, 0.308);
    display: flex;

}

ul li {
    list-style: none;
    display: inline-block;
    margin: auto;

}
h3{
    color: aliceblue;
}
p{
    color: aliceblue;
    
}
.Noticias{
    display: flex;
}
